@use '../variables.scss' as *;

@font-face {
    font-family: 'BrunoAce';
    src: url('../../../public/fonts/BrunoAce-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrunoAceSc';
    src: url('../../../public/fonts/BrunoAceSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.popular-slider {
    overflow: hidden;
    font-family: 'BrunoAce', sans-serif;

    .title {
        color: white;
        font-family: 'BrunoAceSc', sans-serif;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .slider-container {


        div {
            width: auto;
            overflow: visible !important;
        }

        padding: 1rem;

        .slider {

            display: flex;
            flex-direction: column;
            height: 20rem;
            font-size: clamp(0.8rem, 2vw, 0.4rem);

            div {
                display: flex;
                flex-direction: row;

                width: 80%;
                height: 100%;

                align-items: center;
                vertical-align: middle;
                overflow: hidden;

                .element {
                    color: white;
                    overflow: hidden;


                    .image {
                        display: flex;
                        height: 80%;
                        width: 100%;
                        border-bottom: 4px solid $homeSecondary;
                    }



                    background-color: $homePrimary ;
                }


            }
        }

    }
}



@media (max-width: 768px) {
    .title {
        margin-left: 2rem;
    }

    .popular-slider {
        .slider-container {
            .slider {
                div {
                    height: 96%;
                    width: 94%;
                    display: flex;
                    font-size: 0.8rem;

                    .element {
                        .info {
                            font-size: 0.6rem;
                        }
                    }
                }



            }
        }
    }
}

@media (max-width: 576px) {
    .title {
        margin-left: 2rem;
    }

    .popular-slider {
        .slider-container {
            .slider {
                div {

                    width: 85%;


                }
            }
        }
    }
}