@use '../variables.scss' as *;

@font-face {
    font-family: 'BrunoAce';
    src: url('../../../public/fonts/BrunoAce-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrunoAceSc';
    src: url('../../../public/fonts/BrunoAceSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.primary-slider-container {
    background-color: $homeBgPrimary;
    overflow: hidden;
    font-family: 'BrunoAce', sans-serif;

    .title {
        color: white;
        font-family: 'BrunoAceSc', sans-serif;
    }

    .slider-container {
        padding: 1rem;

        .slider {
            display: flex;
            flex-direction: column;
            height: 20rem;


            div {
                display: flex;
                flex-direction: row;

                width: 80%;
                height: 100%;

                align-items: center;
                vertical-align: middle;


                .element {
                    color: white;
                    overflow: hidden;


                    .image {
                        display: flex;
                        height: 80%;
                        width: 100%;
                        border-bottom: 4px solid $homeSecondary;
                    }

                    .info {

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: baseline;

                        font-size: 0.8rem;
                    }


                    background-color: $homePrimary ;
                }


            }
        }

    }
}



@media (max-width: 768px) {
    .title {
        margin-left: 2rem;
    }

    .primary-slider-container {
        .slider-container {
            .slider {
                div {
                    height: 96%;
                    width: 94%;
                    display: flex;
                    font-size: 0.8rem;

                    .element {
                        .info {
                            font-size: 0.6rem;
                        }
                    }
                }



            }
        }
    }
}

@media (max-width: 576px) {
    .title {
        margin-left: 2rem;
    }

    .primary-slider-container {
        .slider-container {
            .slider {
                div {

                    width: 85%;


                }
            }
        }
    }
}