@use '../variables.scss' as *;

.primary-slider-container {
    background-color: $homeBgPrimary;

    .slider {
        div {
            display: flex;
            flex-direction: row;
        }
    }

}