@use 'variables.scss' as *;

footer {
    background-color: #172029;




    .footer-container {
        max-width: 1400px;
        padding: 1rem;


        .upper-footer {
            padding: 1rem;

            justify-content: space-between;
            display: flex;
            flex-direction: row;


            .footer-links {
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;

                ul {
                    text-decoration: none;
                    margin-right: 2rem;
                    list-style: none;


                    li {
                        .links {
                            position: relative;
                            text-decoration: none;

                            margin: 0rem;
                            font-size: 1.1rem;

                            &::after {

                                content: "";
                                position: absolute;
                                left: 0;
                                bottom: -2px;

                                width: 0%;

                                height: 2px;



                                transition: width 0.3s ease-in-out;


                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .image {

                width: 50%;
                margin: 0;

                span {
                    margin: 0;

                    margin-left: 15rem;

                    height: 100%;
                }
            }



        }

        .lower-footer {
            p {
                font-size: 0.9rem;
                margin-top: 1rem;
                color: gray;
            }
        }

    }

}

//<Home
.footer-home {

    border-top: 4px solid $homePrimary;

    hr {
        color: $homePrimary;
    }

    .links {
        color: $homeSecondary;

        &::after {
            background-color: $homeSecondary;
        }
    }


}

//> 
.footer-search {

    border-top: 4px solid $SearchPrimary;

    hr {
        color: $SearchPrimary;
    }

    .links {
        color: $SearchPrimary;

        &::after {
            background-color: $SearchPrimary;
        }
    }

}


@media (max-width: 768px) {



    footer {
        .footer-container {
            .upper-footer {


                .image {
                    display: none;

                }
            }
        }
    }
}