* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

main {

    display: flex;


}

.home {
    background-color: #202a39;
}

.Search {
    background-color: #123434;
}

.Main-Container {
    width: 100%;
    max-width: 1400px;



}