* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #202a39;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Main-Container {

    max-width: 1600px;


}