header {

    background-color: white;

    border: #d44dcb 3px solid;
    border-bottom: #d44dcb 10px solid;
    display: flex;


    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        max-width: 1400px;
        padding: 1rem;
        width: 100%;

        .logo {
            margin-left: 0;
        }

        .links {
            margin-right: 0;
        }

        a {
            margin-left: 0.5rem;


            &:first-child {
                margin-left: 0;
            }
        }
    }


}