@use 'variables.scss' as *;

@font-face {
    font-family: 'Banger';
    src: url('../../public/fonts/Bangers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Castoro';
    src: url('../../public/fonts/CastoroTitling-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


header {





    display: flex;


    .header-container {

        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        max-width: 1400px;
        padding: 0.5rem;

        width: 100%;

        .logo {
            margin-left: 0;
        }

        .links {
            margin-right: 0;



        }

        a {
            margin-left: 0.5rem;
            text-decoration: none;
            color: white;

            &:hover {
                color: gray;
            }

            &:first-child {
                margin-left: 0;

            }
        }
    }


}

.active {
    border-bottom: solid 2px white;
}

//>Home

.header-home {
    background-color: #d44dcb;
    border-bottom: 4px solid #d44dcb;
    border-top: #d44dcb 4px solid;


    .header-container {
        background-color: #476087;

        .links {
            font-family: 'Banger', sans-serif;
        }
    }
}





.mobile-menu {
    margin: 0;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 1rem;
}

.desktop-toggle {
    display: flex;
}

.mobile-toggle {
    display: none;
}

@media (max-width: 768px) {
    header {
        .header-home {
            border-bottom: 6px solid #d44dcb;
            border-top: #d44dcb 6px solid;
        }

        .header-container {
            width: 90%;

            .extended-logo {
                margin-left: 1rem;
            }
        }

    }

    .desktop-toggle {
        display: none;
    }

    .mobile-toggle {
        display: flex;
    }
}



//< Search

.header-search {
    background-color: $SearchPrimary;
    border: none;

    .header-container {
        background-color: black;

        .links {
            font-family: 'Castoro', sans-serif;
        }
    }

    .menu-button {
        background: none;
        border: none;
        cursor: pointer;
        margin: 1rem;
        color: white;
    }

}